*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Plusjakartasans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Grifter';
  src: local('Grifter'), url(fonts/grifter.otf) format('opentype');
}
